.header {
  color: #ffffff;
  width: 100%;
  
  background-color:purple; /* dark background */
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}


.home-style {
  background-color: #f3e8ff; /* light gray, clean */
  min-height: 100vh;
  padding: 20px;
}


.card-link {
  text-decoration: none; /* removes underline */
  color: inherit; /* keeps original card text color */
  display: inline-block; /* prevents weird border/line breaking */
  justify-content: flex-end;
}
.card-link :hover {
  color: #ff4757; /* hover color */
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 10px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}